body {
  background: #3f4047;
  font-family: roboto, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 4rem;
  color: white;
}

.login-btn {
  width: 5rem;
  background: #ffca28;
  color: #212529;
}

.login-btn:hover {
  background: #fcbe03;
  color: white;
}

#login {
  text-align: center;
  background: transparent;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.2rem;
}

#form-login input {
  margin: auto;
  width: 30% !important;
}

label {
  color: white;
  text-align: center;
}
