nav {
}

#navbar {
    padding: 0 !important;
}

p {
    color: white;
}

a h1 {
    font-family: Ubuntu, serif;
    margin: 0.1rem !important;
}

#pages {
    margin: auto;
}

#login-div {
    text-align: center;
    margin-right: 2rem;
    line-height: 0.5rem;
}

#link {
    color: white;
    float: left;
}

#search-btn {
    background-color: #ffca28;
    color: #212529;
    margin-right: 0;
}

#search {
    border-radius: 15px 15px !important;
    color: black;
    width: 11rem;
    height: 2.2rem;
    margin-right: 1rem;
    margin-top: 0.55rem;
}

