
body {
  background: white;
  font-family: roboto, sans-serif;
}

a h1{
  color:white !important;
}

#nav-login {
  font-size: 1rem;
}

#loading {
  font-size: 1.5rem;
  padding: 1rem;
}

.bid-btn {
  border: none;
  background: #185ADB;
  color: white;
  height: 2.2rem;
  width: 5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  margin: 0.4rem;
}

.bttn:hover,
#bid-btn:hover {
  background: #2f72f1;
}

#bid-btn {
  height: 2.5rem;
}



#buttons {
  padding: 0.5rem;
  text-align: center;
}

#alert {
  background-color: #e74c3c;
  color: white;
}

h3 {
  padding-top: 2rem;
  padding-left: 5rem;
  color: #212529;
}

h6 {
  text-align: center;
  padding-top: 1rem;
}

#img {
  padding: 4rem;
  width: 80%;
  text-align: center;
  border-radius: 7px;
}

#div-img,
#purchase {
  text-align: center;
}

#btn-purchase {
  text-align: center;
  background-color: #ffca28;
  width: 8rem;
  height: 4rem;
}

#btn-purchase:hover{
  background: #FEDDBE;
}

div {
  margin-bottom: 0;
  margin-top: 0;
}

#row-top,
#row-bottom {
  padding: 0;
}

#description {
  border-right: 5px solid white;
  background-color: white;
  color: #212529;
}

#pdescription,
#pcategory {
  text-align: justify;
  font-size: 1rem;
}

#td {
  background-color: transparent;
}

#b-time {
  padding: 1rem;
}
#d-price {
  border-top: 3px solid white;
  padding: 1rem;
}
#d-next {
  border-top: 3px solid white;
  padding: 1rem;
}

#d-fast {
  border-top: 3px solid white;
  padding: 1rem;
}

#d-direct,
#direct {
  padding: 1rem;
}

#d-direct {
  padding: 1rem;
  border-top: 3px solid white;
  border-bottom: 1px solid white;
  text-align: center;
}

#d-bid-list {
  text-align: center;
  padding: 1rem;
}
p {
  text-align: center;
  font-size: 1.5rem;
}

#done-auctions {
  padding: 1rem;
}

#direct-input {
  border: 2px solid #ccc;
  border-radius: 15px 15px;
  color: black;
  font-size: 1.2rem;
  width: 10rem;
  height: 2rem;
  margin-top: 0.5rem;
}

#direct-bid-btn{
  padding-top: 3.5px !important;
  height: 2.3rem !important;
}

#div-bids {
  margin-top: 4.7rem;
  background-color: #f5f5f7;
  color: #212529;
}

#p-price {
  font-size: 2rem;
}

.confirmbtn:hover {
  background-color: #34c48f;
}
.cancelbtn:hover {
  background-color: #f1665c;
}

.confirmbtn {
  background-color: #04aa6d;
  width: 7rem;
}

.cancelbtn {
  background-color: #f44336;
  width: 7rem;

}

#product-container {
  padding: 16px;
  text-align: center;
}

.modal {
  text-align: center;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 10% from the top, 15% from the bottom and centered */
  border: 3px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 30%;
  padding: 4rem;
}

.close {
  position: absolute;
  right: 35px;
  top: 105px !important;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .deletebtn {
    width: 100%;
  }
}
