body {
  background: #3f4047;
  font-family: roboto, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 4rem;
  color: white;
}

.register-btn {
  width: 7rem;
  background: #ffca28;
  color: #212529;
}

.register-btn:hover {
  background: #ffbf01;
  color: white;
}

#register {
  text-align: center;
  background: transparent;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.2rem;
}

#form-register input {
    margin:auto;
    width:30% !important;
}

label {
  color: white;
}