body{
  background: #3f4047;
  font-family: roboto,sans-serif;
}

h1 {
  text-align: center;
  margin-top: 4rem;
  color: white;
}

.sell-btn{
  width: 6rem;
  background: #ffca28;
  color: #212529;
}

.sell-btn:hover{
  background: #fcbe03;
  color: white;
}

#sell {
  text-align: center;
  background: transparent;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.2rem;
}

#form-sell input {
  margin: auto;
  width: 50% !important;
}

label {
  text-align: center;
  color: white;
}

