body {
    background: #FEDDBE;
    font-family: roboto, sans-serif;
    color: #212529;
}

h1 {
    text-align: center;
    margin-top: 4rem;

}

#sell-btn {
    width: 7rem;
    background: #185ADB;
    color: white;
}

#sell-btn:hover {
    background: #2f72f1;
}

#sell {
    text-align: center;
    background: transparent;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
}

#form-sell input {
    margin: auto;
    width: 40% !important;
}

label {
    text-align: center;
    color: #212529;}

#register-btn {
    width: 8rem;
    background: #185ADB;
    color: white;
}

#register-btn:hover {
    background: #2f72f1;
}

#register {
    text-align: center;
    background: transparent;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
}

#form-register input {
    margin: auto;
    width: 30% !important;
}

.login-btn {
    width: 5rem;
    background: #185ADB;
    color: white;
}

.login-btn:hover {
    background: #2f72f1;
    color: white;

}

#login {
    text-align: center;
    background: transparent;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
}

#form-login input {
    margin: auto;
    width: 30% !important;
}