<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/styles.css">

    {% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/styles.css">
    {% endblock %}

    {% block title %}{% endblock %}

</head>

<body>
    <nav class="navbar navbar-dark bg-dark" id='navbar'>
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
                <h1>SUBASTAS WEB</h1>
            </a>

            <div id="pages">
                <a class="nav-link" id="link" href="/home">Home</a>
                <a class="nav-link" id="link" href="/sell">Vender</a>
                <a class="nav-link" id="link" href="#">Sobre nosotros</a>
            </div>
            <div id="register-div"></div>
            <div id="login-div"></div>
            <form class="d-flex nav" id="form-nav">
                <input class="form-control me-2" id="search" type="search" placeholder="Buscar" aria-label="Search">
                <button class="bttn" id="search-btn" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                        <path fill-rule="evenodd"
                            d="M11.5 7a4.499 4.499 0 11-8.998 0A4.499 4.499 0 0111.5 7zm-.82 4.74a6 6 0 111.06-1.06l3.04 3.04a.75.75 0 11-1.06 1.06l-3.04-3.04z">
                        </path>
                    </svg>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                    aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasRightLabel">Resultados de búsqueda</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body" id="offcanvas"></div>
                </div>
            </form>
        </div>
    </nav>

    {% block body %}{% endblock %}

    {% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script type="module" src="js/session.js"></script>
    <script type="module" src="js/search.js"></script>
    {% endblock %}

</body>

</html>